@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;

}


/* header section style start here */
header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 150px 0 150px;
    background: linear-gradient(180.00deg, rgb(24, 23, 23), rgba(157, 154, 154, 0) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    padding: 5px 15px;
    border-radius: 46px;
    background:  rgb(241, 67, 40);
}

nav h3 {
    color:rgb(241, 67, 40);
    font-size: 2rem;
    font-weight: 800;
}

span {
    font-family: "Pacifico", cursive;
    font-weight: 500;
}

nav>ul {
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px 10px 5px 0;
    align-items: center;

}

nav li {
    list-style: none;

}

nav li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.menu-bar {
    display: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner-text {
    font-size: 1.8rem;
    font-weight: 500;
}

.banner .text-section h3 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
}

.button {
    display: flex;
}

.banner .text-section button {
    margin-top: 20px;
    margin-right: 20px;
}

.img-section img {
    width: 100%;
}

.img-section {
    position: relative;
}

.banner-box1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 160px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    position: absolute;
    top: 140px;
    right: -20px;
    text-align: center;
    padding: 5px;
}

.banner-box2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 160px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: -70px;
    bottom: 50px;
    text-align: center;
    padding: 5px;
    color: white;
    display: flex;
}

.video-play {
    background: rgb(241, 67, 40);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* shared  style*/
.text-content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0;
}

.text-heading {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.btn {
    border-radius: 42px;
    padding: 12px 30px;
    background: rgb(241, 67, 40);
    border: none;
    color: white;
}


/* section-1 style */
.section-1 {
    max-width: 1140px;
    margin: 50px auto;
}

.section-1 h1 {
    text-align: center;
}


.section-1 p {
    text-align: center;
}



.img-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.img-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box img {
    border-radius: 50%;
}

.img-box h2 {
    color: white;
    margin-top: 24px;

}

.img-box p {
    color: rgba(255, 255, 255, 0.5);

}



/* section-2 style */
.section-2 {
    max-width: 1140px;
    margin: 70px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.section-2 p {
    text-align: left;
    font-size: 1.5rem;
}

.section-2 .run {
    max-width: 450px;
    height: 300px;
}

.run img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}


/* section-3 style */
.section-3 {
    max-width: 1440px;
    margin: 0px auto;

}

.section-3 h1 {
    padding: 0 300px;
    text-align: left;
}

.section-3 p {
    padding: 0 300px;
    text-align: left;
}

.section-3 .box {
    display: flex;
    justify-content: space-between;
    background: rgb(34, 34, 34);
    margin-top: 50px;
    padding: 50px 120px;
}

.box h1 {
    padding: 0;
}

.box p {
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}

th,
td {
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

th {
    color: white;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 34px;
}

.input-box input {
    border-radius: 8px;
    padding: 10px 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;

}

#input {
    border-radius: 8px;
    padding: 10px 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}



/* section-4 style */
.section-4 {
    max-width: 1140px;
    margin: 70px auto;
}

.section-4 h1 {
    text-align: center;
}

.section-4 p {
    text-align: center;
}

.section-4 .trainer-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    
}

.trainer-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.trainer {
    position: relative;
}

.trainer div {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.trainer-img p {
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    

}



/* section-5 */
.section-5 {
    max-width: 1140px;
    margin: 70px auto;
}
 
.section-5 h1 {
    text-align: center;
}

.section-5 p {
    text-align: center;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card {
    
    border-radius: 16px;
    padding: 10px;
    background: rgb(14, 58, 67);
}

.card img {
    width: 100%;
    border-radius: 16px;
}

.card h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-top: 24px;
}


.card p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}

.card button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none; 
    
}





/* footer section start here */

footer {
    padding: 50px 150px;
    background: rgba(255, 255, 255, 0.071);
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-content h1, h3 {
    color: white;
    font-size: 2.5rem;
}

.footer-content p {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.footer-content a {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    display: block;

}

hr {
    margin-top: 30px;
}

.footer-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem; margin-top: 30px;
}

#icon {
    color: rgb(241, 67, 40);
}







